body {
    height: 250vh;
    background: linear-gradient(180deg, #111111,#151616,#151616,#b61285);
    margin: 0;
    font-family: 'Montserrat Alternates', sans-serif;
}

.pages>div{
    text-decoration: none;
    background-color: rgb(10, 10, 10); 
    color: #fff; 
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1em; 
    font-weight: 300;
    margin: 10px;
    border: 0.2px solid rgb(255 199 225 / 70%); 
    border-radius: 5%;
    width: 450px;
    height: 300px;
    padding: 10px 20px; 
    /* border-width: 0px 10px 0px 0px;  */
    /* border-image: linear-gradient(180deg, rgb(238, 74, 178), rgb(238, 74, 178), rgb(238, 74, 178)) 1; */
    border-style: solid;
    box-shadow: 0px 0px 13px rgb(255 112 172 / 50%);
    transition: background-color 0.7s, box-shadow 0.7s;
}

.button_page {
    position: relative; 
    z-index: 1; 
    background-image: url('/images/back.png'); 
    background-size: cover; 
    background-position: center; 
    width: 100%; 
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.background-image {
    width: 0px; 
    height: 0px; 
}
.pages{
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="text"], textarea {
    margin: 5px;
    background-color: #1f1e1f;
    border: none;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 15px;
    color: white;
    font-size: 16px;
    line-height: 1.2;
    box-shadow: -1px 1px 11px #1f1f1f;
}