@import "https://unpkg.com/open-props/durations.min.css";

body {
    height: 250vh;
    background: linear-gradient(180deg, #111111,#151616,#151616,#b61285);
    margin: 0;
    font-family: 'Montserrat Alternates', sans-serif;
}

.serv_description {
    box-shadow: 14px 6px 18px 0px rgba(221, 30, 119, 0.356);
    width: 650px;
    height: 125px;
    align-items: flex-start;
    color: white;
    padding: 15px 20px;
    margin-left: 10px;
    background-color: #0a0a0a;
    border-radius: 10px;
    position: absolute;
}

.inline-list {
    list-style-type: disc; 
    padding: 0; 
    margin: 0 0 0 15px;
    display: flex; 
    flex-wrap: wrap;
    font-size: 18px;
    justify-content: space-between;
}


li::marker {
    font-size: 35px;
    color: #b61285;
}

span {
    color: #e065bc;
    font-weight: 700;
}

.desc {
    padding:10px;
    background-color: #e9258a;
    z-index: 1;
    height: 560px;
    margin-top: 10px;
    box-shadow: 18px 20px 7px rgb(0 0 0 / 63%);
    display: flex;
    flex-direction: column;
}

.styled_input_select {
    appearance: none;
    background-color: #fd319a;
    border: none;
    color: white;
    width: 300px;
    padding: 5px 30px 5px 10px;
    margin-top: .8em;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
    box-shadow: 2px 10px 7px rgb(167 6 88 / 63%);
    height: 130px;
    margin-bottom: 10px;
}

#message_item {
    box-shadow: 18px 20px 7px rgb(0 0 0 / 63%);
    width: 400px;
    z-index: 0;
    color: white;
    border: solid #0c0789;
    border-width: 2px 2px 0 0;
    margin-left: 10px;
    background-color: #1c1b1b;
    border-radius: 5px;
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.styled_input_button {
    all: unset;
    text-align: center;
    padding: 15px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #0e27cb;
    border: none;
    transition: .2s;
}

.styled_input_button:hover {
    background-color: #292571;
}

#rainbow-picker {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

input[type="text"] {
    margin: 5px;
    background-color: #0c0c0c;
    border: none;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 15px;
    color: white;
    font-size: 16px;
    line-height: 1.2;
    box-shadow: -1px 1px 11px #1f1f1f;
}

textarea {
    height: 350px;
}

#embedTitle, #embedImgUrl {
    height: 50px;
}

input:focus, textarea:focus {
    border-color: #b61285; 
    outline: none;
}

.description_item {
    box-shadow:  1px -1px 16px 6px rgb(0 0 0 / 63%);
    max-height: 700px; 
    overflow-y: auto; 
    border: 1px solid rgba(255, 20, 147, 0.5);
    border-radius: 5px; 
    margin: 10px; 
    display: flex;
    justify-content: center;
}

.description_item::-webkit-scrollbar {
    width: 8px; 
}

.description_item::-webkit-scrollbar-thumb {
    background: #c2136d;
    border-radius: 10px;
}

.description_item::-webkit-scrollbar-thumb:hover {
    background: #a30067; 
}

.styled_input_select option {
    background-color: rgb(20, 20, 20);
    color: #fff;
}

.styled_input_select option:hover {
    background-color: rgb(37, 37, 37);
}

.styled_input_select:focus {
    outline: none; 
    border: none;
}

.styled_input_select:hover {
    background-color: #eb3498; 
}

.styled_input_button_del{
    all: unset;
    text-align: center;
    padding: 15px 20px;
    font-size: 16px;
    color: #ebebeb;
    width: 260px;
    background-color: rgb(203 30 119);
    border: none;
    transition: .2s;
}


.styled_input_button_del:hover{
    background-color: rgb(158, 25, 94);
}

table {
    border-collapse: collapse;
    padding: 20px;
    box-shadow:  18px 20px 7px rgb(0 0 0 / 63%);
}

th {
    cursor: pointer;
}

.back{
    background-color: #b61285;
}