<div class = "description">
<div class="canv">
  <canvas id="starCanvas" width="1396" height="400" style="width: 1396px; height: 400px;"></canvas>
   </div> <div class="description_bot">
   
    <div class="blob-cont">
        <div class="pink blob"></div>
        <div class="violet blob"></div>
        <div class="blue blob"></div>
    </div>

    <div class="slider-thumb">
    <div class="background-effect"></div>
    <div class="image-wrapper"><img src="/images/gund3.jpg" width="350" height="350" style=""/></div>
    </div>
    
    <div class="bot-info">
        <h1>GUNDOU</h1>
        <p>General Unit for Dynamic Oversight and Utility. Многофункциональный Discord-бот, упрощающий взаимодействие на сервере.</p>
    </div>
    </div>
    <div class="button_description">
    <button id="toggleButton"> <!-- icon666.com - MILLIONS vector ICONS FREE --><svg id="Layer_3" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" data-name="Layer 3"><path d="m32 27a1.992 1.992 0 0 1 -1.414-.586l-12.586-12.585-12.586 12.585a2 2 0 0 1 -2.828-2.828l14-14a2 2 0 0 1 2.828 0l14 14a2 2 0 0 1 -1.414 3.414z" fill="white" stroke="white" stroke-width="2"/></svg></button>
    </div>
</div>
<div class="pg">

<div class="pages">
    
<div class="button_page hello" data-page-id="1">
    <a href="#">
        <button>Приветственные сообщения</button>
    </a>
    <div class="page_desc">Это страница с приветственными сообщениями.<img class="background-image" src="/images/back.png" alt="Background" /></div>
</div>
<div class="button_page msg" data-page-id="2">
    <a href="#">
        <button>Отправка сообщений</button>
    </a>
    <div class="page_desc"><img class="background-image" src="/images/back.png" alt="Background" /></div>
</div>
<div class="button_page bar" data-page-id="3">
    <a href="#">
        <button>Статус-бар</button>
    </a>
    <div class="page_desc"><img class="background-image" src="/images/back.png" alt="Background" /></div>
</div>
<div class="button_page members" data-page-id="4">
    <a href="#">
        <button>Управление участниками</button>
    </a>
    <div class="page_desc"><img class="background-image" src="/images/back.png" alt="Background" /></div>
</div>
<div class="button_page invite" data-page-id="5">
    <a href="#">
         <button>Приглашение в канал</button>
    </a>
    <div class="page_desc"><img class="background-image" src="/images/back.png" alt="Background" /></div>
</div>
</div>

<div class="interactive_desc">
    <div class="description_item" data-page-id="1">
    <p>Настройте приветственное сообщение</p>
        <div id="item_1_4_5" style="display: flex; align-items: center; ">
        <img style="border-radius:100%; border:white;" src="/images/avatar.png" width="50" height="50" />
        <div style=" margin-left: 10px;display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; height: 50px;">
            <h3 style="margin: 0;">GUNDOU</h3>
            <div style="margin-top: 5px;">Добро пожаловать на сервер! <span style="color: pink;">@user</span></div>
        </div></div>
    </div>
    <div class="description_item" data-page-id="2">
    <p>Отправьте сообщения в канал</p>
    <!-- Ваш SVG код -->
        <div id="item_2_3" style="display: flex; align-items: bottom; ">
        <div class="list">
            <h4>ОЧЕРЕДЬ</h3>
            <ul>
                <li>Сообщение</li>
                <li>Сообщение</li>
            </ul>
            <div class="icon"><svg  stroke="white" viewBox="0 0 24 24" width="30" height="30" role="img" xmlns="http://www.w3.org/2000/svg" aria-labelledby="sendIconTitle" stroke="#000000" stroke-width="1.0" stroke-linecap="round" stroke-linejoin="round"  color="none"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title id="sendIconTitle">Send</title> <polygon points="21.368 12.001 5 21.609 5 14 11 12 5 9.794 5 2.394"></polygon></g></svg></g></svg></div>
            </div>
        </div>
    </div>
    <div class="description_item" data-page-id="3">
        <p>Посмотрите последние действия</p>
         <div id="item_2_3" style="display: flex; align-items: bottom; ">
            <div class="list">
                <h4>ДЕЙСТВИЯ</h3>
                <ul>
                    <li>Сообщение 12.01.24</li>
                    <li>Удален участник 13.02.24</li>
                </ul>
                <div class="icon"><svg width="40px" height="40px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.52786 16.7023C6.6602 18.2608 8.3169 19.3584 10.1936 19.7934C12.0703 20.2284 14.0409 19.9716 15.7434 19.0701C17.446 18.1687 18.766 16.6832 19.4611 14.8865C20.1562 13.0898 20.1796 11.1027 19.527 9.29011C18.8745 7.47756 17.5898 5.96135 15.909 5.02005C14.2282 4.07875 12.2641 3.77558 10.3777 4.16623C8.49129 4.55689 6.80919 5.61514 5.64045 7.14656C4.47171 8.67797 3.89482 10.5797 4.01579 12.5023M4.01579 12.5023L2.51579 11.0023M4.01579 12.5023L5.51579 11.0023" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 8V12L15 15" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg></div>
            </div>
        </div>
    </div>
    <div class="description_item" data-page-id="4">
        <p>Редактируйте права участника</p>
         <div id="item_1_4_5" style="padding-left:30px; border:none; width:320px; display: flex; padding-bottom: 40px; height: 100px; align-items: center; ">
        <img style="border-radius:100%; border:white;" src="/images/avatar.png" width="50" height="50" />
        <div style=" margin-left: 10px;display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; height: 50px;">
            <h3 style="margin: 0;">Username</h3>
            <ul class="inline-list">
                <li>Роль 1</li>
                <li>Роль 2</li>
                <li>Роль 3</li>
                <li>Роль 4</li>
            </ul>
           <div class="icon" > <svg stroke-width="2" width="35px" height="35px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.4443 5.68747L5.44587 14.6859C4.78722 15.3446 4.26719 16.1441 4.10888 17.062C3.94903 17.9888 3.89583 19.139 4.44432 19.6875C4.99281 20.236 6.14299 20.1828 7.0698 20.0229C7.98772 19.8646 8.78722 19.3446 9.44587 18.6859L18.4443 9.68747M14.4443 5.68747C14.4443 5.68747 17.4443 2.68747 19.4443 4.68747C21.4443 6.68747 18.4443 9.68747 18.4443 9.68747M14.4443 5.68747L18.4443 9.68747" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg></div>
        </div></div>
    </div>

    <div class="description_item" data-page-id="5">
        <p>Пригласите бота в канал</p>
         <div id="item_1_4_5" style="padding:30px; border:none; width:320px; display: flex; padding-bottom: 40px; height: 100px; align-items: center; ">
         <div>
            <ul class="inline-list">
                <li>ChannelName</li>
                <li>ChannelName</li>
                <li>ChannelName</li>
            </ul>
            <div class="icon sound" ><svg fill="#white" width="25px" height="25px" viewBox="-0.13 0 511.999 511.999" xmlns="http://www.w3.org/2000/svg">
            <g id="_29_Sound_alt_" data-name="29 Sound (alt)" transform="translate(-0.132 -0.001)">
                <path id="Path_38" data-name="Path 38" d="M319.967,503.5v-67.34C394.335,409.733,447.9,339.457,447.9,256c0-83.426-53.565-153.732-127.934-180.156V8.5c110.288,28.485,191.9,128.309,191.9,247.5S430.254,475.043,319.967,503.5ZM256,511.868,128.066,383.935H32.115A31.965,31.965,0,0,1,.132,351.952V160.05a31.965,31.965,0,0,1,31.983-31.983h95.951L256,.133s31.983-4,31.983,31.983V479.885C287.983,515.866,256,511.868,256,511.868Zm-31.983-383.8L160.05,192.033H64.1V319.967H160.05l63.967,63.968V128.066ZM415.917,256c0,59.532-40.854,109.132-95.95,123.4V311.1a63.448,63.448,0,0,0,0-110.193V132.6C375.063,146.869,415.917,196.469,415.917,256Z" fill-rule="evenodd"/>
            </g>
         </div></div>
         <div><ul class="bot" style="padding-right:20px;">
                <li>BotName</li>
                <li>BotName</li>
                <li>BotName</li>
                <li>BotName</li>
        </ul></div>
        
        </svg></div>
    </div>
</div>


<script>
    

const descriptionBot = document.querySelector('.description_bot');
const sliderThumb = document.querySelectorAll('.slider-thumb, .bot-info');

window.addEventListener('scroll', function() {
    const pageDescs = document.querySelectorAll('.bot-info');

    const scrollPosition = window.scrollY;

    pageDescs.forEach((desc, index) => {
        const speed = 0.2; 
        desc.style.transform = `translateY(${scrollPosition * speed}px)`;
    });
});


const canvas = document.getElementById('starCanvas');
const scene = new THREE.Scene();
const camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 0.1, 1000);
const renderer = new THREE.WebGLRenderer({ canvas: canvas });
renderer.setSize(window.innerWidth, 600);

let stars;

function init() {
    stars = createStars();
    camera.position.z = 5;
    animate();
}

function createStars() {
    const starGeometry = new THREE.BufferGeometry();
    const starCount = 7000; 
    const positions = new Float32Array(starCount * 3); 

    for (let i = 0; i < starCount; i++) {
        positions.set([(Math.random() - 0.5) * 1000, (Math.random() - 0.5) * 1000, (Math.random() - 0.5) * 1000], i * 3);
    }

    starGeometry.setAttribute('position', new THREE.BufferAttribute(positions, 3));
    const starMaterial = new THREE.PointsMaterial({ color: 0xffffff, size: 0.5 });
    const stars = new THREE.Points(starGeometry, starMaterial);
    scene.add(stars);
    return stars;
}

function animate() {
    requestAnimationFrame(animate);
    stars.rotation.x += 0.0005;
    stars.rotation.y += 0.0005;
    renderer.render(scene, camera);
}

init();

window.addEventListener('resize', () => {
    camera.aspect = window.innerWidth / window.innerHeight;
    camera.updateProjectionMatrix();
    renderer.setSize(window.innerWidth, 600);
});

const toggleButton = document.getElementById('toggleButton');
const botInfo = document.querySelector('.description_bot');
toggleButton.addEventListener('click', () => {
    if (botInfo.style.display === 'none') {
        botInfo.style.display = 'flex';
        canvas.style.opacity = '1';
        toggleButton.classList.remove('rotated'); 
    } else {
        botInfo.style.display = 'none'; 
        canvas.style.opacity = '0'; 
        toggleButton.classList.add('rotated'); 
    }
});
</script>
<script>
const buttonPages = document.querySelectorAll('.button_page');
const descriptionItems = document.querySelectorAll('.description_item');
const interactiveDesc = document.querySelector('.interactive_desc');

buttonPages.forEach(button => {
    button.addEventListener('mouseenter', (event) => {
        const pageId = button.getAttribute('data-page-id'); 
        const descriptionToShow = document.querySelector(`.description_item[data-page-id="${pageId}"]`);
        
        if (descriptionToShow) {
            descriptionItems.forEach(desc => desc.style.display = 'none'); 
            descriptionToShow.style.display = 'block'; 
            interactiveDesc.style.display = 'block'; 
        }
    });

    button.addEventListener('mouseleave', () => {
        descriptionItems.forEach(desc => desc.style.display = 'none'); 
        interactiveDesc.style.display = 'none'; 
    });
});
</script>